<h1>Update Information</h1>

	<!-- First Name:
	<input type="text" ng-model="userInfo.firstName"></br>
	Last Name:
	<input type="text" ng-model="userInfo.lastName"></br>
	Age:
	<input type="number" ng-model="userInfo.age"></br> -->
	<button ng-click="done()">Done</button>
	<button ng-click="cancel()">Cancel</button>

	<input type="text" name="fname"  ng-model="userInfo.firstName" >&nbsp; 
	<input type="text" name="lname"  ng-model="userInfo.lastName" >
	
	<p><input type="text" name="address"  ng-model="userInfo.address" >&nbsp;
	<input type="text" name="city"  ng-model="userInfo.city" ></p>
	
	<p><input type="text" name="state"  ng-model="userInfo.state" >&nbsp;
	<input type="text" name="zip"  ng-model="userInfo.zip" ></p>
	
	<p><input type="text" name="notes"  ng-model="userInfo.notes" ></p>
	</br><center>
	<input type="submit" ng-click="done()" value="Done" />
	<input type="submit" ng-click="Cancel()" value="Change Password" /></center>








